@model List<Person>
@{
    ViewBag.Title = "Person List";
}

<h1>Person list</h1>

<a type="button" class="btn btn-primary m-2" asp-controller="Person" asp-action="Create">New Person</a>

<table class="table table-striped">
    
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">BirthDate</th>
        <th scope="col">BloodType</th>
        <th scope="col">CPF</th>
        <th scope="col">Email</th>
    </tr>

    @foreach (Person person in Model)
    {
        <tr>
            <th scope="row">@person.Id</th>
            <td>@person.Name</td>
            <td>@person.BirthDate.ToString("yyyy/MM/dd")</td>
            <td>@person.BloodType</td>
            <td>@person.CPF</td>
            <td>@person.Email</td>
        </tr>
    }



</table>